_wandb:
    value:
        cli_version: 0.24.0
        e:
            4vdqekpw9grcimuxcd5jxrgreoyhpgg7:
                codePath: /home/wallacelab/Documents/GitHub/cvpr_perturbations/temp.ipynb
                codePathLocal: temp.ipynb
                cpu_count: 16
                cpu_count_logical: 32
                cudaVersion: "12.7"
                disk:
                    /:
                        total: "1888559353856"
                        used: "1766585655296"
                email: mej.jenkins@gmail.com
                executable: /home/wallacelab/miniconda/envs/adaptive-clip/bin/python
                git:
                    commit: c251ae09172f6a89e266317c79168f86ea61eb16
                    remote: https://github.com/marrenj/cvpr_perturbations.git
                gpu: NVIDIA RTX A6000
                gpu_count: 2
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 10752
                      memoryTotal: "51527024640"
                      name: NVIDIA RTX A6000
                      uuid: GPU-ac1e7360-8b1e-ed4b-f978-73fc25e7633b
                    - architecture: Ampere
                      cudaCores: 10752
                      memoryTotal: "51527024640"
                      name: NVIDIA RTX A6000
                      uuid: GPU-b0d28ed1-ef1b-ccca-52e6-4d98c79c3624
                host: ASWALL1PD5CYD2D.vuds.vanderbilt.edu
                memory:
                    total: "270093541376"
                os: Linux-6.8.0-90-generic-x86_64-with-glibc2.35
                program: /home/wallacelab/Documents/GitHub/cvpr_perturbations/temp.ipynb
                python: CPython 3.11.13
                root: /home/wallacelab/Documents/GitHub/cvpr_perturbations
                startedAt: "2026-02-03T20:36:08.681754Z"
                writerId: 4vdqekpw9grcimuxcd5jxrgreoyhpgg7
        m: []
        python_version: 3.11.13
        t:
            "3":
                - 2
                - 5
                - 14
                - 62
            "4": 3.11.13
            "5": 0.24.0
            "8":
                - 1
            "12": 0.24.0
            "13": linux-x86_64
