## ---PATHS--- ##
img_dir: "/home/wallacelab/teba/multimodal_brain_inspired/dreamsim/dreamsim/nights" # root directory for inference image dataset
inference_save_dir: "/home/wallacelab/teba/multimodal_brain_inspired/marren/temporal_dynamics_of_human_alignment/test/cliphba_baseline_seed1"
model_weights_path: "/home/wallacelab/teba/multimodal_brain_inspired/marren/temporal_dynamics_of_human_alignment/test/cliphba_baseline_seed1"

## ---MODEL PARAMETERS--- ##
backbone : ViT-L/14
vision_layers: 2
transformer_layers: 1
rank: 32
load_hba: true

## ---INFERENCE PARAMETERS--- ##
dataset: nights # which dataset's inference to run (nights, nod, things)
cuda: 1 #(device selector):
batch_size: 128
num_workers: 4 # (for THINGS/NOD extraction, defaults to 8)